*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

body, html{
  min-height: 100vh;
}

/* Header.jsx */
header{
  width: 100%;
  height: 90px;
  background-color: #241F20;
  color: #FFFFFF;
  
}

header div{
  height: 90px;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 1600px;
  margin: 0 auto;
  justify-content: flex-start;
}

header div .header-right{
  margin-right: 0;
  cursor: pointer;
}

header div span a.login-logo{
  display: inline-block;
  margin-left: auto;
  margin-right: 20px;
  cursor: pointer;
}

header div a.login-logo img{
  height: 30px;
}

header div img{
  height: 50px;
  margin: 0 10px 0 20px;
}

header div p{
  font-size: 24px;
  font-weight: bold;
}

header div p span{
  color: #F5F570;
}

/* HomeSection.jsx */
.home-section {
  background-color: #241F20;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 5%;
  min-height: 600px; 
  box-sizing: border-box;
  overflow: hidden;
}

.home-section-img {
  flex: 1;
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  height: 100%;
}

.home-section-img img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  object-fit: contain; 
  border-radius: 10px;
}

.home-section-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: 1;
  padding: 0 5%;
  max-width: 500px;
  margin-right: 10px;
}

.home-section-container{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
  height: 100%;
}

.home-section-content h1 {
  color: #F5F570;
  font-size: 3rem;
  margin-bottom: 1rem;
  line-height: 1.2;
}

.home-section-content p {
  color: white;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  line-height: 1.6;
}

.home-section-buttons{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.home-section-buttons a{
  text-decoration: none;
}


.home-section-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 60px;
  border-radius: 26px;
  font-weight: bold;
  color: #241F20;
}

.button-one{
  background-color: #F5F570;
  border: 2px solid #241F20;
  margin-right: 10px;
  cursor: pointer;
}

.button-two{
  background-color: transparent;
  border: 2px solid #F5F570;
  cursor: pointer;
  color: #F5F570;
}

@media (max-width: 768px){
  .home-section{
    min-height: 1000px;
  }
  .home-section-content h1{
    font-size: 2.5rem;
  }
  .home-section-content{
    margin-bottom: 15px;
    margin-right: 0;
  }
  .home-section-container{
    flex-direction: column-reverse;
  }
  .home-section-img img {
    width: 80%;
  }
  .home-section-button {
    width: 140px;
  }
  .home-section-img{
    justify-content: center;
    margin-bottom: 20px;
  }
}

/* AboutUs.jsx  */
.home-about-us{
  background-color: white;
  color: #241F20;
}

.home-about-us h2{
  text-align: center;
  font-size: 2.5rem;
  padding: 50px 20px 20px 20px;
}

.home-about-us p{
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.6;
  padding: 0 20px 50px 20px;
  font-weight: bold;
}

@media(max-width: 768px){
  .home-about-us h2{
    font-size: 2rem;
    padding: 30px 20px 10px 20px;
  }
  .home-about-us p{
    font-size: 1.2rem;
    padding: 0 20px 30px 20px;
  }
}

/* FindCategory.jsx */
.find-category {
    padding: 2rem;
    background-color: #241F20;
    color: #fff;
    padding: 60px 0;
}

.title-with-arrows {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
}

.find-category h2 {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin: 0;
    color: #F5F570;
}

.scroll-btn {
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    font-size: 2.5rem;
    color: #F5F570;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s, transform 0.2s;
    padding-bottom: 5px;
    padding-right: 1px;
}

.scroll-btn:hover:not(:disabled) {
    background-color: #444;
}

.scroll-btn:disabled {
    opacity: 0.3;
    cursor: not-allowed;
    transform: none;
}

.carousel {
    display: flex;
    gap: 1rem;
    overflow-x: scroll;
    scroll-behavior: smooth;
    width: 100%;
    padding-bottom: 1rem;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.category-card {
    position: relative;
    flex: 0 0 200px;
    width: 200px;
    height: 200px;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    border: 1px solid transparent;
    border: 2px solid transparent;
}

.category-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.category-card:hover {
    border: 2px solid rgb(245, 245, 112);
    cursor: pointer;
}

.overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 0.5rem;
}

.overlay span {
    font-weight: bold;
    color: white;
    font-size: 1.2rem;
    letter-spacing: 1px;
}

/* Benefits.jsx */

.benefits-container{
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  margin: 20px auto;
  justify-content: center;
  padding: 60px 0;
}

.benefits-container > * {
  padding: 10px;
}

.benefits-container h2{
  font-size: 30px;
}

.benefits-container > * img {
  max-height: 300px;
  max-width: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
}


.benefits-client, .benefits-trainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.benefits-client h2, 
.benefits-trainer h2,
.benefits-client p, 
.benefits-trainer p
{
  margin-bottom: 20px;
}

.benefits-client p, .benefits-trainer p{
  font-size: 18px;
  line-height: 26px;
}

@media(max-width: 1200px){
  .benefits-container{
    flex-direction: column;
    flex-grow: 0;
  }

  .benefits-client h2, 
  .benefits-trainer h2,
  .benefits-client p, 
  .benefits-trainer p
  {
    padding: 0 5%;
  }

  .benefits-container > * img{
    padding: 0 5%;
  }
  
}

/* Footer.jsx */
footer {
  width: 100%;
  height: 80px;
  background-color: #241F20;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer p{
  padding: 3px;
}

footer p a{
  font-weight: bold;
  text-decoration: none;
  color: #F5F570;
}

footer p a:hover{
  border-bottom: 1px solid #F5F570;
}

/* Auth.jsx */
.auth-container{
  height: calc(100vh - 170px);
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  justify-content: center;
  margin: 0 auto;
  padding: 40px 0;
}

.auth-container > * {
  width: 50%;
}

.auth-login{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #241F20;
}

.auth-login > *, .auth-register > *{
  margin: 10px 0;
}

.auth-login h1, .auth-register h1{
  margin: 20px 0;
}

.google-button, .apple-button{
  width: 280px;
  padding: 10px;
  background-color: white;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.login-google, .login-apple{
  border: 1px solid lightslategray;
}

.google-button:hover, .apple-button:hover{
  background-color: #F5F5F5;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form > *, .register-form > *{
  margin: 10px 0;
}

.login-form > input, .register-form > input{
  width: 280px;
  padding: 10px;
}

.login-normal{
  width: 280px;
  padding: 10px;
  background-color: #241F20;
  color: white;
  border: 0;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
}

.login-normal:hover{
  background-color: #F5F570;
  color: #241F20;
}

.login-forgot-password:hover{
  border-bottom: 1px solid black;
  cursor: pointer;
}

.auth-register{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-register span{
  margin: 20px 0;
}

.auth-register .register-role h2{
  margin: 0 0 20px;
}

.auth-register .register-role .roles{
  display: flex;
  justify-content: center;
}

.auth-register .register-role .roles > *{
  margin: 0 10px;
  padding: 5px 10px;
  border: 1px solid #241F20;
  cursor: pointer;
  font-weight: bold;
  background-color: #241F20;
  color: white;
}

.auth-register .register-role .roles > *.selected-role{
  background-color: #F5F570;
  color: #241F20;
  border: 0;
}

.register-form{
  display: flex;
  flex-direction: column;
}



/* loginForm.jsx */
/* 
.login-form{
  width: 500px;
  margin: 5vh auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form > *{
  margin: 10px 0;
}

.login-form > input{
  width: 280px;
  padding: 10px;
}

.form-border{
  display: flex;
  flex-direction: row;

}

.form-line{
  border-bottom: 1px solid gray;
}

.login-normal{
  width: 280px;
  padding: 10px;
  background-color: #D72631;
  color: white;
  border: 0;
  cursor: pointer;
}

.login-normal:hover{
  background-color: #FF4C4C;
}

.login-forgot-password:hover{
  color: #D72631;
  cursor: pointer;
}

.login-line{
  height: 1px;
  width: 500px;
  background-color: black;
}

.login-register a{
  color: black;
  text-decoration: none;
}

.login-register a:hover{
  color: #D72631;
  cursor: pointer;
}

.login-error{
  color: #D72631;
  text-align: justify;
} */

/* registerForm.jsx */
/* .register-form{
  width: 500px;
  margin: 5vh auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register-form > *{
  margin: 10px 0;
}

.register-form > input{
  width: 280px;
  padding: 10px;
}

.register-role h2{
  font-size: 20px;
}

.roles{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.roles > *{
  border: 1px solid lightslategray;
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
  font-weight: bold;
}

.selected-role{
  background-color: #D72631;
  color: white;
  border: 0;
}

.register-space{
  margin-bottom: 80px;
}

.categories {
  max-height: 250px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.categories h3 {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
}

.categories label {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  cursor: pointer;
}

.categories input[type="checkbox"] {
  margin-right: 8px;
} */
